@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/IBMPlexSerif-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/IBMPlexSerif-TextItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'AtlasGrotesk-Medium';
  font-display: swap;
  font-weight: normal;
  src: url('./fonts/AtlasGrotesk-Medium-Web.woff') format('woff2');
}

@font-face {
  font-family: 'AtlasGrotesk-Light';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/AtlasGrotesk-Light-Web.woff') format('woff');
}
@font-face {
  font-family: 'AgengSans';
  src: url('./fonts/ageng_sans-webfont.woff') format('woff'),
      url('./fonts/ageng_sans-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}